<hr />

<div class="header-form">
  <div class="header-form-smallDevice">
    <button
      mat-raised-button=""
      color="primary"
      routerlink="/recepcion/solicitudPreArribo"
      class="btn-nuevaSolicitudPreArribo"
      tabindex="0"
    >
      <span class=""> Nueva Solicitud Pre Arribo </span>
    </button>
    <button mat-raised-button="" color="primary" class="btn-refresh">
      <span class=""> Refrescar </span>
    </button>
  </div>

  <hr style="padding-bottom: 1.5rem" />

  <div class="titlePage">Listado de Trámites</div>

  <div class="header-form-largeDevice">
    <div class="header-form-search-containerMain">
      <div class="header-form-search-label-container">
        <span class=""
          ><label
            class="header-form-search-label"
            id="mat-form-field-label-1"
            for="mat-input-0"
            aria-owns="mat-input-0"
            >Buscar</label
          ></span
        >
        <mat-icon
          role="img"
          matsuffix=""
          class="header-form-search-iconMini-search"
          aria-hidden="true"
          data-mat-icon-type="font"
          >search</mat-icon
        >
      </div>
      <div class="header-form-search-container">
        <input
          matinput=""
          type="text"
          class="header-form-input-search"
          id="mat-input-0"
          data-placeholder="Búsqueda por ID / Nombre / N° OMI / Señal de llamada"
          aria-invalid="false"
          aria-required="false"
          placeholder="Búsqueda por ID / Nombre / N° OMI / Señal de llamada"
        />
        <mat-icon
          role="img"
          matsuffix=""
          class="header-form-search-icon-search"
          aria-hidden="true"
          data-mat-icon-type="font"
          >search</mat-icon
        >
      </div>
    </div>
    <form novalidate="" class="header-form-search-containerMain-form">
      <span class=""
        ><label
          class="header-form-search-label"
          for="mat-input-1"
          aria-owns="mat-input-1"
          >Buscar otro trámite</label
        ></span
      >
      <div class="header-form-search-containerMain-form-algo">
        <input
          numerico=""
          formcontrolname="idTramite"
          matinput=""
          type="number"
          class="header-form-input-search"
          data-placeholder="Búsqueda por ID"
          aria-invalid="false"
          aria-required="false"
          placeholder="Búsqueda por ID"
        />
        <mat-icon
          role="img"
          matsuffix=""
          class="header-form-search-iconMini-search-ii"
          aria-hidden="true"
          data-mat-icon-type="font"
          >arrow_right_alt</mat-icon
        >
      </div>
    </form>
    <div class="header-form-NewAndRefresh-buttons">
      <button
        mat-raised-button=""
        color="primary"
        routerlink="/recepcion/solicitudPreArribo"
        class="btn-nuevaSolicitudPreArribo"
        tabindex="0"
      >
        <span class=""> Nueva Solicitud Pre Arribo </span>
      </button>
      <button mat-raised-button="" color="primary" class="btn-refresh">
        <span class=""> Refrescar </span>
      </button>
    </div>
  </div>
</div>

<div class="table-container">
  <div class="table">
    <div class="table-main-header grid">
      <div class="table-header">Identificador</div>
      <div class="table-header">Servicio</div>
      <div class="table-header">OMI/ Señal/ Nave</div>
      <div class="table-header">Puerto/ Terminal/ Sitio</div>
      <div class="table-header">Agencia Naviera</div>
      <div class="table-header">Etapa</div>
      <div class="table-header">Acciones</div>
      <div class="table-header-empty"></div>
    </div>

    <div class="table-main-item grid">
      <div class="table-item table-item-id">1514</div>
      <div class="table-item">Internacional</div>
      <div class="table-item">
        <div class="table-item-v-one">9356995</div>
        <div class="table-item-v-two">LNVQ3</div>
        <div class="table-item-v-three">EDDA FRAM</div>
      </div>
      <div class="table-item">
        <div class="table-item-v-one">IQUIQUE</div>
        <div class="table-item-v-two">-</div>
        <div class="table-item-v-three">-</div>
      </div>
      <div class="table-item">ULTRAMAR Ltda.</div>
      <div class="table-item-iconSteps">
        <!-- Etapa -->

        <div class="table-item-h-one">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon aprobado"
                aria-hidden="true"
                data-mat-icon-type="font"
                >search</mat-icon
              >
              <div class="estado-linea"></div>
            </div>
            <div class="icon-text">Pre&nbsp;Arribo</div>
          </div>
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                _ngcontent-phg-c109=""
                role="img"
                class="mat-icon"
                aria-hidden="true"
                data-mat-icon-type="font"
                >directions_boat</mat-icon
              >
              <div class="estado-linea"></div>
            </div>
            <div class="icon-text">Arribo</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <div class="">
            <div class="icon">
              <mat-icon
                role="img"
                class="mat-icon en-aprobacion"
                aria-hidden="true"
                data-mat-icon-type="font"
                >rate_review</mat-icon
              >
              <div class="estado-linea"></div>
            </div>
            <div class="icon-text">Recepción</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-four table-item-h-four-step">
          <mat-icon
            role="img"
            class="arrow_drop_down"
            style="color: rgba(0, 0, 0, 0.54); margin-top: auto"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_drop_down</mat-icon
          >
        </div>

        <!-- /Etapa -->
      </div>
      <div class="table-item-iconActions">
        <!-- Actions -->

        <div class="table-item-h-one">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >search</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >edit</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              style="margin-right: 3px"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              directions_boat
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-four">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              assignment_ind
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-five">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >local_parking</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-six">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <!-- /Actions -->
      </div>
      <div class="table-item-more_vert">
        <div class="table-item-h-seven">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps icon-more_vert"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
      </div>
    </div>
    <div class="table-main-item grid">
      <div class="table-item table-item-id">1513</div>
      <div class="table-item">Internacional</div>
      <div class="table-item">
        <div class="table-item-v-one">9356995</div>
        <div class="table-item-v-two">FICTI22</div>
        <div class="table-item-v-three">AREA IQUIQUE</div>
      </div>
      <div class="table-item">
        <div class="table-item-v-one">IQUIQUE</div>
        <div class="table-item-v-two">-</div>
        <div class="table-item-v-three">-</div>
      </div>
      <div class="table-item">ULTRAMAR Ltda.</div>
      <div class="table-item-iconSteps">
        <!-- Etapa -->

        <div class="table-item-h-one">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon aprobado"
                aria-hidden="true"
                data-mat-icon-type="font"
                >search</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Pre&nbsp;Arribo</div>
          </div>
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                _ngcontent-phg-c109=""
                role="img"
                class="mat-icon"
                aria-hidden="true"
                data-mat-icon-type="font"
                >directions_boat</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Arribo</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon en-aprobacion"
                aria-hidden="true"
                data-mat-icon-type="font"
                >rate_review</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Recepción</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-four table-item-h-four-step">
          <mat-icon
            role="img"
            class="arrow_drop_down"
            style="color: rgba(0, 0, 0, 0.54); margin-top: auto"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_drop_down</mat-icon
          >
        </div>

        <!-- /Etapa -->
      </div>
      <div class="table-item-iconActions">
        <!-- Actions -->

        <div class="table-item-h-one">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >search</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >edit</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              style="margin-right: 3px"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              directions_boat
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-four">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              assignment_ind
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-six">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>

        <!-- /Actions -->
      </div>
      <div class="table-item-more_vert">
        <div class="table-item-h-seven">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps icon-more_vert"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
      </div>
    </div>
    <div class="table-main-item grid">
      <div class="table-item table-item-id">1512</div>
      <div class="table-item">Internacional</div>
      <div class="table-item">
        <div class="table-item-v-one">9356995</div>
        <div class="table-item-v-two">LNVQ3</div>
        <div class="table-item-v-three">EDDA FRAM</div>
      </div>
      <div class="table-item">
        <div class="table-item-v-one">IQUIQUE</div>
        <div class="table-item-v-two">Puerto de Iquique</div>
        <div class="table-item-v-three">Espigón ITI Nº 3</div>
      </div>
      <div class="table-item">ULTRAMAR Ltda.</div>
      <div class="table-item-iconSteps">
        <!-- Etapa -->

        <div class="table-item-h-one">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon aprobado"
                aria-hidden="true"
                data-mat-icon-type="font"
                >search</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Pre&nbsp;Arribo</div>
          </div>
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                _ngcontent-phg-c109=""
                role="img"
                class="mat-icon"
                aria-hidden="true"
                data-mat-icon-type="font"
                >directions_boat</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Arribo</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon en-aprobacion"
                aria-hidden="true"
                data-mat-icon-type="font"
                >rate_review</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Recepción</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-four table-item-h-four-step">
          <mat-icon
            role="img"
            class="arrow_drop_down"
            style="color: rgba(0, 0, 0, 0.54); margin-top: auto"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_drop_down</mat-icon
          >
        </div>

        <!-- /Etapa -->
      </div>
      <div class="table-item-iconActions">
        <!-- Actions -->

        <div class="table-item-h-one">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >search</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >edit</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              style="margin-right: 3px"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              directions_boat
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-six">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <!-- /Actions -->
      </div>
      <div class="table-item-more_vert">
        <div class="table-item-h-seven">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps icon-more_vert"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
      </div>
    </div>
    <div class="table-main-item grid">
      <div class="table-item table-item-id">1514</div>
      <div class="table-item">Inter</div>
      <div class="table-item">
        <div class="table-item-v-one">9356995</div>
        <div class="table-item-v-two">LNVQ3</div>
        <div class="table-item-v-three">EDDA FRAM</div>
      </div>
      <div class="table-item">
        <div class="table-item-v-one">IQUIQUE</div>
        <div class="table-item-v-two">-</div>
        <div class="table-item-v-three">-</div>
      </div>
      <div class="table-item">ULTRAMAR Ltda.</div>
      <div class="table-item-iconSteps">
        <!-- Etapa -->

        <div class="table-item-h-one">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon aprobado"
                aria-hidden="true"
                data-mat-icon-type="font"
                >search</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Pre&nbsp;Arribo</div>
          </div>
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                _ngcontent-phg-c109=""
                role="img"
                class="mat-icon"
                aria-hidden="true"
                data-mat-icon-type="font"
                >directions_boat</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Arribo</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon en-aprobacion"
                aria-hidden="true"
                data-mat-icon-type="font"
                >rate_review</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Recepción</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-four table-item-h-four-step">
          <mat-icon
            role="img"
            class="arrow_drop_down"
            style="color: rgba(0, 0, 0, 0.54); margin-top: auto"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_drop_down</mat-icon
          >
        </div>

        <!-- /Etapa -->
      </div>
      <div class="table-item-iconActions">
        <!-- Actions -->

        <div class="table-item-h-one">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >search</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >edit</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              style="margin-right: 3px"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              directions_boat
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-four">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              assignment_ind
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-five">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >local_parking</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-six">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <!-- /Actions -->
      </div>
      <div class="table-item-more_vert">
        <div class="table-item-h-seven">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps icon-more_vert"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
      </div>
    </div>
    <div class="table-main-item grid">
      <div class="table-item table-item-id">1514</div>
      <div class="table-item">Inter</div>
      <div class="table-item">
        <div class="table-item-v-one">9356995</div>
        <div class="table-item-v-two">LNVQ3</div>
        <div class="table-item-v-three">EDDA FRAM</div>
      </div>
      <div class="table-item">
        <div class="table-item-v-one">IQUIQUE</div>
        <div class="table-item-v-two">-</div>
        <div class="table-item-v-three">-</div>
      </div>
      <div class="table-item">ULTRAMAR Ltda.</div>
      <div class="table-item-iconSteps">
        <!-- Etapa -->

        <div class="table-item-h-one">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon aprobado"
                aria-hidden="true"
                data-mat-icon-type="font"
                >search</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Pre&nbsp;Arribo</div>
          </div>
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                _ngcontent-phg-c109=""
                role="img"
                class="mat-icon"
                aria-hidden="true"
                data-mat-icon-type="font"
                >directions_boat</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Arribo</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon en-aprobacion"
                aria-hidden="true"
                data-mat-icon-type="font"
                >rate_review</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Recepción</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-four table-item-h-four-step">
          <mat-icon
            role="img"
            class="arrow_drop_down"
            style="color: rgba(0, 0, 0, 0.54); margin-top: auto"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_drop_down</mat-icon
          >
        </div>

        <!-- /Etapa -->
      </div>
      <div class="table-item-iconActions">
        <!-- Actions -->

        <div class="table-item-h-one">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >search</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >edit</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              style="margin-right: 3px"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              directions_boat
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-four">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              assignment_ind
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-five">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >local_parking</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-six">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <!-- /Actions -->
      </div>
      <div class="table-item-more_vert">
        <div class="table-item-h-seven">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps icon-more_vert"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
      </div>
    </div>
    <div class="table-main-item grid">
      <div class="table-item table-item-id">1514</div>
      <div class="table-item">Inter</div>
      <div class="table-item">
        <div class="table-item-v-one">9356995</div>
        <div class="table-item-v-two">LNVQ3</div>
        <div class="table-item-v-three">EDDA FRAM</div>
      </div>
      <div class="table-item">
        <div class="table-item-v-one">IQUIQUE</div>
        <div class="table-item-v-two">-</div>
        <div class="table-item-v-three">-</div>
      </div>
      <div class="table-item">ULTRAMAR Ltda.</div>
      <div class="table-item-iconSteps">
        <!-- Etapa -->

        <div class="table-item-h-one">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon aprobado"
                aria-hidden="true"
                data-mat-icon-type="font"
                >search</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Pre&nbsp;Arribo</div>
          </div>
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                _ngcontent-phg-c109=""
                role="img"
                class="mat-icon"
                aria-hidden="true"
                data-mat-icon-type="font"
                >directions_boat</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Arribo</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <div class="">
            <div class="">
              <mat-icon
                role="img"
                class="mat-icon en-aprobacion"
                aria-hidden="true"
                data-mat-icon-type="font"
                >rate_review</mat-icon
              >
            </div>
            <div class="estado-linea"></div>
            <div class="icon-text">Recepción</div>
          </div>
          <!--  -->
        </div>
        <div class="table-item-h-four table-item-h-four-step">
          <mat-icon
            role="img"
            class="arrow_drop_down"
            style="color: rgba(0, 0, 0, 0.54); margin-top: auto"
            aria-hidden="true"
            data-mat-icon-type="font"
            >arrow_drop_down</mat-icon
          >
        </div>

        <!-- /Etapa -->
      </div>
      <div class="table-item-iconActions">
        <!-- Actions -->

        <div class="table-item-h-one">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >search</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-two">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >edit</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-three">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              style="margin-right: 3px"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              directions_boat
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-four">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              tabindex="0"
              data-mat-icon-type="font"
            >
              assignment_ind
            </mat-icon></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-five">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >local_parking</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <div class="table-item-h-six">
          <!--  -->
          <span class="mat-button-wrapper"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
        <!-- /Actions -->
      </div>
      <div class="table-item-more_vert">
        <div class="table-item-h-seven">
          <!--  -->
          <span class="mat-button-wrapper icon-more_vert"
            ><mat-icon
              role="img"
              class="mat-icon icon-steps"
              aria-hidden="true"
              data-mat-icon-type="font"
              >more_vert</mat-icon
            ></span
          >
          <!--  -->
        </div>
      </div>
    </div>
  </div>
</div>
