:root {
  --main-bg-color-aproved: #139f2f;
}
.table-container {
  background-color: white;
  font-family: Raleway, sans-serif;
  /* font-size: 14px; */
  margin-left: 3vw;
  margin-right: 3vw;
  box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%),
    0 3px 14px 2px rgb(0 0 0 / 12%);
}
.table {
  border: none;
  border-radius: 5px;
}
.mat-icon {
  border-radius: 50%;
  background-color: #ccc;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  z-index: 5;
  position: relative;
}
.arrow_drop_down {
  background-color: unset;
}
.aprobado {
  background-color: #139f2f !important;
}
.en-aprobacion {
  background-color: #ff3945 !important;
}
.icon-text {
  font-size: 9px;
}
.titlePage {
  margin-top: 1rem !important;
  border-bottom: 1px solid #dee2e6 !important;
  text-align: left;
  width: 100vw;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: x-large;
  margin-bottom: 3rem;
}

.grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 35px;
  grid-template-rows: max-content;
  grid-gap: 5px;
  transition: all 1s;
  justify-items: center;
  /* margin-top: 15px; */
  padding-top: 6px;
  padding-bottom: 6px;
}
.table-main-header {
  background: #1c7e89;
  color: azure;
}
.table-main-item {
  border-bottom: inset;
  border-bottom-width: thin;
}
.table-header {
  margin: 1rem 0.5vw 1rem 1vw;
  width: 100%;
  padding: 0.5vw 0.5vw 0.5vw 0.5vw;
  overflow-wrap: anywhere;
  text-align: center;
}
.table-item-iconSteps {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: dense;
  grid-auto-rows: max-content;
  /* grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr)); */
  /* grid-template-columns:  repeat(auto-fill, 4em) 30px; */
  /* grid-template-columns: minmax(4em, max-content) repeat(auto-fill, 4em) 5%; */
  /* grid-template-columns: minmax(4em, max-content) minmax(4em, max-content) minmax(4em, max-content) 5%; */
  /* grid-template-columns: repeat(auto-fill, 4em 4em 4em) 5%; */
  /* grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));  // Posible */
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
  justify-items: center;
  /* align-items: center; */
  align-content: center;
  justify-content: space-evenly;
  /* justify-content: stretch; */
  /* background: yellow; */
  width: 100%;
  overflow: visible;
}
.table-item-iconActions {
  display: grid;
  gap: 0.5rem;
  grid-auto-flow: dense;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(3.3rem, 1fr));
  width: 100%;
  align-content: center;
  /* padding-inline-start: 3vw; */
  /* padding-inline-end: 1vw; */
}
.table-item-more_vert {
  display: grid;
  grid-template-columns: 35px;
  gap: 0.5rem;
  width: 100%;
  align-content: center;
  margin-left: -10px;
}
.table-item {
  /* background: burlywood; */
  width: 100%;
  height: auto;
  overflow: inherit;
  min-width: 45px;
  text-align: center;
  align-self: center;
  overflow-wrap: break-word;
}
.table-item-h-one,
.table-item-h-two,
.table-item-h-three,
.table-item-h-four,
.table-item-h-five,
.table-item-h-six {
  text-align: -webkit-center;
  position: relative;
  width: inherit;
}
.table-item-h-four-step {
  margin-left: -14px;
}
.table-item-h-six {
  visibility: hidden;
  display: none;
}
.icon-text {
  text-align: center;
}
.icon-steps {
  background: #1c7e89 !important;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
}
.icon-more_vert {
  background: transparent !important;
  box-shadow: unset;
  color: black;
  font-weight: bold;
}
.estado-linea {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 18px;
  width: inherit;
  border-bottom: 2px solid #ccc;
  z-index: 4;
  box-sizing: content-box;
}
.icon {
  position: relative;
}

.header-form-largeDevice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  font-family: Raleway, sans-serif;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-bottom: 1.5rem;
}
.header-form-smallDevice {
  display: none;
  visibility: hidden;
}
.header-form-input-search {
  width: 100%;
  animation: cdk-text-field-autofill-end 0s 1ms;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  font-size: medium;
  height: 35px;
}
.header-form-search-containerMain {
  background-color: rgba(0, 0, 0, 0.04);
  align-self: center;
}
.header-form-search-container {
  display: grid;
  grid-template-columns: auto 35px;
  padding-inline: 1rem;
}
.header-form-search-label {
  font-weight: 100;
  padding-inline: 1rem;
  font-variant: all-small-caps;
  margin-bottom: unset;
  mix-blend-mode: hard-light;
}
.header-form-search-containerMain-form {
  background-color: rgba(0, 0, 0, 0.04);
  align-self: center;
}
.header-form-search-containerMain-form-input {
  width: 100%;
}
.header-form-search-label-container {
  display: grid;
  grid-template-columns: auto 20px;
}
.header-form-search-containerMain-form-algo {
  display: grid;
  grid-template-columns: auto 35px;
  padding-left: 1rem;
}
.header-form-NewAndRefresh-buttons {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}
.header-form-search-iconMini-search {
  visibility: hidden;
  display: none;
}
.btn-nuevaSolicitudPreArribo,
.btn-refresh {
  background: #1c7e89 !important;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  border: none;
  border-radius: 3px;
  color: azure;
  height: inherit;
}

.header-form-search-iconMini-search-ii {
  border-radius: 8%;
  background: #1c7e89;
}
.header-form-search-containerMain,
.header-form-search-containerMain-form {
  height: 6rem;
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 0.7fr 0.7fr 0.9fr 0.9fr 1fr 2fr 2fr 35px;
    grid-gap: 5px;
  }
}
@media only screen and (max-width: 670px) {
  .header-form-search-container {
    grid-template-columns: 1fr;
  }
  .header-form-search-icon-search {
    visibility: hidden;
    display: none;
  }
  .header-form-search-iconMini-search {
    visibility: visible;
    display: inline;
    font-size: larger;
    color: #0000004a;
    background-color: transparent;
    padding-top: 4px;
    height: 2rem;
  }
  .header-form-NewAndRefresh-buttons-ii {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
  }

  .table-container {
    font-size: 13px !important;
  }
  .grid {
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 1.3fr 1.5fr;
  }
  .table-item-iconActions {
    padding-inline-start: 0vw;
    padding-inline-end: 0vw;
  }
  .table-item-more_vert {
    visibility: hidden;
    display: none;
  }
  .table-item-h-six {
    visibility: visible;
    display: contents;
  }
  .table-container {
    margin-left: 1vw;
    margin-right: 1vw;
  }
  .table-header-empty {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (max-width: 540px) {
  .table-container {
    font-size: 12px !important;
  }
  .grid {
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 0.7fr 1fr;
    grid-gap: 4px;
  }
  .titlePage {
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .btn-nuevaSolicitudPreArribo,
  .btn-refresh {
    height: 35px;
  }
  .header-form-largeDevice {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .header-form-smallDevice {
    display: grid;
    grid-template-columns: auto 7rem;
    gap: 2vw;
    font-family: Raleway, sans-serif;
    margin-left: 3vw;
    margin-right: 3vw;
    /* padding-bottom: 1.5rem; */
    visibility: visible;
  }
  .header-form-NewAndRefresh-buttons {
    visibility: hidden;
    display: none;
  }
}
@media only screen and (max-width: 425px) {
  .table-container {
    font-size: 12px !important;
  }
  .table-header {
    margin: 1rem 0.1vw 1rem 1vw;
    width: 100%;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  }
  .table-item {
    min-width: 50px;
  }
  .table-item-id {
    min-width: 33px;
  }
  .grid {
    grid-template-columns: 0.7fr 1fr 1fr 1fr 1fr 0.7fr 0.7fr;
  }
}
@media only screen and (max-width: 364px) {
  .table-container {
    font-size: 11px !important;
  }
  .table-header {
    margin: 1rem 0.1vw 1rem 0.5vw;
    width: 100%;
    padding: 0.1vw 0.1vw 0.1vw 0.1vw;
  }
  .table-item {
    min-width: 40px;
  }
}
